
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100vw;
    height: 60px;
    background-color: red;
    display: flex;
    align-items: center;
}
.header .heading{
cursor: pointer;
color: white;
margin-left: 20px;
text-decoration: none;
font-size: 2rem;
}